# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/.env

# Node
frontend/node_modules/
frontend/dist/

# ML модель (большой файл)
backend/app/cv/dog_pose.pt

# OS
.DS_Store
