DATABASE_URL=postgresql://pawhotel:pawhotel_secret@db:5432/pawhotel
SECRET_KEY=change-me-to-a-long-random-string
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=30
FIRST_ADMIN_EMAIL=admin@pawhotel.ru
FIRST_ADMIN_PASSWORD=change-me

# Email (SMTP) — для отправки кодов подтверждения
# Если не заполнено, коды выводятся в консоль бэкенда (dev mode)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your@gmail.com
SMTP_PASSWORD=kigr zgba gdpn mlod
SMTP_FROM=your@gmail.com

RESEND_API_KEY=re_JSGwHWZC_PbVo1RGvLwtDbetDTJtLsigT
RESEND_FROM=PawHotel <noreply@paw-hotel.ru>
